BOT_TOKEN=your_token
ADMIN_IDS=123456789
PRIVATE_CHANNEL_ID=-1001234567890
DB_PATH=bot.db
DEFAULT_CARD_NUMBER=2204320929425611

USER_TIMEZONE=Europe/Moscow
FSM_STORAGE=redis
REDIS_URL=redis://localhost:6379/0
PAYMENT_DUPLICATE_WINDOW_MIN=15
